*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    place-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,121,1) 35%, rgba(0,212,255,1) 100%);
    height: 100vh;
}
.container h2{
    margin-top: 3rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: 3px;
    line-height: 23px;
}
.wrapper{
    width: 400px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
}
.form_input{
    width: 300px;
    height: 300px;   
}

.form_input input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.controls{
    display: flex;
    justify-content: space-between;
}

.controls button{
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.addBtn{
    background: #ffbf00;
    color: #fff;
}

.removeBtn{
    background: red;
}